.loader {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 15px;
}

.loader div {
  position: absolute;
  top: 5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #14b8a6;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader div:nth-child(1) {
  left: 0;
  animation: loader1 0.6s infinite;
}

.loader div:nth-child(2) {
  left: 10px;
  animation: loader2 0.6s infinite;
}

.loader div:nth-child(3) {
  left: 20px;
  animation: loader2 0.6s infinite;
}

.loader div:nth-child(4) {
  left: 30px;
  animation: loader3 0.6s infinite;
}

@keyframes loader1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes loader2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(10px, 0);
  }
}

@keyframes loader3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
